@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'JHCRasbora';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('assets/JHCRasbora-Extrabold.otf') format('woff');
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 21px 40px;
    background-color: #021B1A;
    font-family: "Inter", sans-serif;
}

