/* Esse é um arquivo CSS para normalizar o seu site em todos os navegadores
como se fosse uma configuração padrão */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--bg-body);
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 21px 40px;
    -webkit-tap-highlight-color: #021B1A;
    background-color: var(--bg-body);
    scroll-behavior: smooth;
    font-family: var(--font-principal);
    color: var(--font-cl-white);
}

a,img,svg,button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
}

a {
    background-color: transparent;
    cursor: pointer;
}

img {
    border-style: none;
}

button {
    font-family: inherit;
    line-height: 1;
    margin: 0;
    -moz-appearance: none !important;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    cursor: pointer;
}

button * {
    pointer-events: none;
}

input {
    font-family: inherit;
    line-height: 1;
    -moz-appearance: none !important;
    overflow: visible;
}

textarea {
    font-family: inherit;
    line-height: 1;
    -moz-appearance: none !important;
    overflow: auto;
}

[type="button"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
    [type="button"]::-moz-focus-inner {
    border-style: none;
}

[hidden] {
    display: none;
    opacity: 0;
    visibility: hidden;
}


.btn{
    background: linear-gradient(to right, #01FBA1 0%, #38f9d7 100%);
    color: #0A2018;
    padding: 1.25rem 2.56rem;
    width: 15rem;
    border-radius: 1.87rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.btn:hover{
    box-shadow: 1px 1px 2px var(--main-color);
    background: linear-gradient(to right, #15e699 0%, #38f9d7 100%);
}

.btn:focus{
    color: var(--font-cl-white);
}

.index{
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-family: var(--font-secondary);
    margin-top: 5rem;
}

.index h1{
    font-size: 12.2rem;
    line-height: 1;
    color: rgba(255, 255, 255, 35%);
}

.index p{
    font-size: var(--font-24px);
    line-height: 1;
    text-align: end;
    margin-top: -2rem;
}

.index div span{
    font-size: 0.75rem;
    padding: 1rem 1.87rem;
    border: 1px solid rgba(255, 255, 255, 35%);
    border-radius: 1.87rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
}


@media(max-width: 1440px){
    html{
        font-size: 85%;
    }

    body {
        margin: 15px 40px;
    }
}

@media(max-width: 1240px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 800px){
    html{
        font-size: 50%;
    }

    section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

