.about__section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
}

.bg__about{
    position: absolute;
    width: 90.6rem;
    height: 40.5rem;
    background-color: var(--bg-section);
    border-radius: 1.87rem;
    z-index: 0;
}

.bg__about .top{
    display: block;
    position: relative;
    width: 34.68rem;
    height: 8rem;
    background-color: var(--bg-body);
    border-bottom-right-radius: 1.87rem;
}

.bg__about .top::before{
    content: '';
    position: absolute;
    bottom: -1.9rem;
    width: 2.37rem;
    height: 1.87rem;
    background-color: transparent;
    border-top-left-radius: 1.87rem;
    box-shadow: -10px -7px 0 #021B1A;
}

.bg__about .top::after{
    content: '';
    position: absolute;
    top: 0px;
    right: -2.37rem;
    bottom: -1.9rem;
    width: 2.37rem;
    height: 1.87rem;
    background-color: transparent;
    border-top-left-radius: 1.87rem;
    box-shadow: -10px -7px 0 #021B1A;
}

.about__container{
    width: 90.6rem;
    height: 40.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    z-index: 1;
}

.image__about{
   position: relative;
   right: 8rem;
   top: 4rem;
}

.container__about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content__about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title__about{
    font-size: 3.75rem;
    color: rgba(255, 255, 255, 50%);
    font-weight: 500;
    position: relative;
}

.title__about::before{
    content: '';
    position: absolute;
    bottom: -0.6rem;
    width: 6.25rem;
    height: 0.25rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

.text__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-cl-white);
    font-size: var(--font-24px);
    font-weight: 400;
    width: 41.62rem;
    position: relative;
}

.bold{
    font-weight: 700;
}

.separator{
    width: 20rem;
    height: 4px;
    background: var(--main-color);
    margin-top: 22px;
    border-radius: 0.2rem;
}

.education__about{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.education__about div p{
    color: var(--font-cl-white);
    font-size: 1.37rem;
}

.education__about div p span{
    color: var(--font-cl-gray);
    font-size: 1.37rem;
}