/* PROJECTS SECTION */
.project__section{
    width: 90.6rem;
    height: 43.7rem;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.gallery__projects{
    height: 38.7rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 2rem;
    margin-top: 7.5rem;
}

.slide__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    width: 6rem;
    height: 40rem;
    background: var(--bg-section);
    padding: 1.25rem;
    gap: 2.5rem;
    color: var(--font-cl-white);
    cursor: pointer;
    border-radius: 1.8rem;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    position: relative;
}

.slide__container__project{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
}

.slide__container:after{
	content:"";
    width: 3px;
    height: 4rem;
    position: absolute;
    left: -1px;
    top: 70%;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, 
					var(--main-color), 
					transparent);
    opacity: 0;
}

.slide__container:hover:after{
    top: 50%;
    opacity: 1;
}

.gallery__projects input{
    display: none;
}

.gallery__projects input:checked + label{
    width: 400px;
}

.image__project img{
    width: 360px;
    height: 295px;
}

.tool__tags{
    width: 300px;
    margin-top: 4px;
    margin-bottom: 10px;
    display:flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tool{
    padding: 5px 10px;
    border-radius: 2rem;
}

.figma{
    background: #1ABCFE;
}

.html{
    background: #E44D26;
}

.css{
    background: #A259FF;
}

.js{
    background: #F0DB4F;
}

.git{
    background: #F03C2E;
}

.github{
    background: #000;
}


.tailwind{
    background: #6DD7B9;
}

.content__project{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 18px;
    flex-wrap: nowrap;
}

.content__project h2{
    font-size: 22px;
    font-weight: 700;
}

.content__project p{
    font-size: 14px;
    font-weight: 400;
    height: 95px;
}


.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.button a{
    font-size: 14px;
    font-weight: 400px;
}

.project__section .index{
    position: absolute;
    top: -3rem;
    left: 5rem;
    z-index: 1;
}

.project__section .index div {
    display: flex;
    align-items: end;
    color: var(--font-cl-white);
}