.skills__section{
    margin-top: 5rem;
}

.skills__section h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.container__sect-skills{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    margin-top: 2.8rem;
}

.container__skills{
    display: flex;
    gap: 0.75rem;
}

.content__skills{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.skills__1, .skills__2{
    display: flex;
    gap: 0.75rem;
}

.skill{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    height: 17.5rem;
    background-color: var(--bg-section);
    border-radius: 0.93rem;
    border: 1px solid var(--main-color);
}

.skill img{
    width: 5.62rem;
    height: 5.62rem;
}

/* CONTENT YEAR EXP */
.content__skills_exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 27.5rem;
    background-color: var(--bg-section);
    border-radius: 0.93rem;
    border: 1px solid var(--main-color);
}

.year__exp{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 5rem;
}

.year__exp span{
    font-size: 6rem;
    font-weight: 700;
}

.year__exp h3{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
}

/* FIM CONTENT YEAR EXP */

/* SKILLS ADDITIONAL */
.add__container_skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80.5rem;
    height: 20rem;
    gap: 4.7rem;
    background-color: var(--bg-section);
    border-radius: 0.93rem;
    border: 1px solid var(--main-color);
}

.add__container_skills h3{
    font-size: 2.5rem;
    font-weight: 700;
}

.add__skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.add__skills img{
    width: 5.62rem;
    height: 5.62rem;
}
/* FIM SKILLS ADDITIONAL */



@media (max-width: 480px){
    .skills__section{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container__sect-skills{
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .container__skills{
        flex-direction: column;
    }

    .content__skills{
        display: flex;
        flex-direction: column;
    }

    .skill{
        width: 9.5rem;
        height: 14.5rem;
    }

    .content__skills_exp{
        gap: 2rem;
        width: 100%;
        padding-bottom: 1rem
    }

    .add__container_skills{
        width: 100%;

    }

}