/* INDEX*/
.project__section .index{
    position: absolute;
    top: -3rem;
    left: 5rem;
    z-index: 1;
}

.project__section .index div {
    display: flex;
    align-items: end;
}
/* FIM INDEX*/


/* PROJECTS SECTION */
.project__section{
    width: 90.6rem;
    height: 43.7rem;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}
/* FIM PROJECTS SECTION */

/* GALLERY PROJECTS */
.gallery__projects{
    height: 38.7rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 2rem;
    margin-top: 7.5rem;
}

.slide__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    width: 6rem;
    height: 40rem;
    background: var(--bg-section);
    padding: 1.25rem;
    gap: 2.5rem;
    cursor: pointer;
    border-radius: 1.8rem;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    position: relative;
}

.slide__container__project{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
}

.slide__container:after{
	content: "";
    width: 3px;
    height: 4rem;
    position: absolute;
    left: -1px;
    top: 70%;
    transition: top, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, 
					var(--main-color), 
					transparent);
    opacity: 0;
}

.slide__container:hover:after{
    top: 50%;
    opacity: 1;
}

.gallery__projects input{
    display: none;
}

.gallery__projects input:checked + label{
    width: 25rem;
}

.image__project img{
    width: 22.5rem;
    height: 18.4rem;
}

.tool__tags{
    width: 18.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.62rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.tool{
    padding: 0.3rem 0.62rem;
    border-radius: 2rem;
}

.figma{
    background: #1ABCFE;
}

.html{
    background: #E44D26;
}

.css{
    background: #A259FF;
}

.js{
    background: #F0DB4F;
}

.git{
    background: #F03C2E;
}

.github{
    background: #000;
}


.tailwind{
    background: #6DD7B9;
}

.content__project{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.1rem;
    flex-wrap: nowrap;
}

.content__project h2{
    font-size: 1.37rem;
    font-weight: 700;
}

.content__project p{
    font-size: 0.87rem;
    font-weight: 400;
    height: 95px;
}


.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.button a{
    font-size: 0.87rem;
    font-weight: 400px;
}
/* FIM GALLERY PROJECTS */
@media (max-width: 480px){
    .project__section .index{
        position: absolute;
        left: 0rem;
        z-index: 1;
    }

    .project__section{
        width: 100%;
        height: 55.6rem;
        justify-content: center;
    }

    .gallery__projects{
        margin-top: 15rem;
        height: 40.7rem;
        flex-direction: column;
        flex-wrap: wrap;
        overflow: auto hidden;
    }

    .slide__container{
        display: flex;
        flex-direction: column;
        align-items: start;
        overflow: visible;
        width: 25rem;
        height: 40rem;
    }

    .button{
        margin-top: -4rem;
    }
}