.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    height: 0;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2.5rem;
    position: relative;
    top: 40px;
    z-index: 1;
}

.nav-list li a{
    color: var(--font-cl-white);
    font-size: var(--font-18px);
    font-weight: 500;
}

.nav-list li a:after{
    content: '';
    margin: 4px auto 0;
    display: block;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 2px;
}

.nav-list li a:hover:after{
    width: 80%;
    transition: width 0.3s linear;
}

@media(max-width: 1240px){
    .nav-list{
        top: 10px;
    }
} 

@media (max-width: 800px){
    .hidden{
        display: none;
    }

    .navbar{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 9;
        inset: 0;
        background: #021b1a8e;
        backdrop-filter: blur(5px);
    }

    .nav-list{
        width: 100vw;
        height: 100vh;
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 4rem;
    }

    .nav-list li{
        padding: 2.5rem 0;
        border-bottom: 2px solid #01fb9f8e;
    }

    .nav-list li a{
        font-size: 3rem;
    }

    .btn-menu{
        position: fixed;
        z-index: 4;
        height: 5rem;
        width: 5rem;
        top: 4rem;
        right: 4rem;
        background: transparent;
    }

    .spans-line{
        z-index: 4;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        background-color: var(--bg-body);
        outline: 1px solid var(--main-color);
        box-shadow: 0px 0px 10px #01FBA1;
    }

    .spans-line span{
       width: 2.5rem; 
       height: 0.25rem;
       border-radius: 2px;
       background: var(--main-color);
    }
}