/* ABOUT SECTION */
.about__section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
    position: relative;
}

/* BACKGROUND */
.bg__about{
    position: absolute;
    width: 90.6rem;
    height: 40.5rem;
    background-color: var(--bg-section);
    border-radius: 1.87rem;
    z-index: 0;
}

.bg__about .top{
    display: block;
    position: relative;
    width: 34.68rem;
    height: 8rem;
    background-color: var(--bg-body);
    border-bottom-right-radius: 1.87rem;
}

.bg__about .top::before, .top::after{
    content: '';
    position: absolute;
    width: 2.37rem;
    height: 1.87rem;
    bottom: -1.9rem;
    background-color: transparent;
    border-top-left-radius: 1.87rem;
    box-shadow: -10px -7px #021B1A;
}

.bg__about .top::after{
    top: 0px;
    right: -2.37rem;
}
/* FIM BACKGROUND */

/* INDEX */
.about__section .index{
    position: absolute;
    top: -12rem;
    left: 5rem;
    z-index: 1;
}

.about__section .index div {
    display: flex;
    align-items: end;
}
/* FIM INDEX */

/* ABOUT CONTAINER */
.about__container{
    width: 90.6rem;
    height: 40.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    z-index: 1;
}

.image__about{
   position: relative;
   right: 8rem;
   top: 4rem;
}

.container__about, .content__about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.title__about{
    font-size: 3.75rem;
    color: rgba(255, 255, 255, 50%);
    font-weight: 500;
    position: relative;
}

.title__about::before{
    content: '';
    position: absolute;
    bottom: -0.6rem;
    width: 6.25rem;
    height: 0.25rem;
    background-color: var(--main-color);
    border-radius: 0.5rem;
}

.text__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-24px);
    font-weight: 400;
    width: 41.62rem;
    position: relative;
}

.bold{
    font-weight: 700;
}

.separator{
    width: 20rem;
    height: 0.25rem;
    background: var(--main-color);
    margin-top: 1.37rem;
    border-radius: 0.2rem;
}

.education__about{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.education__about div p{
    font-size: 1.37rem;
}

.education__about div p span{
    color: var(--font-cl-gray);
    font-size: 1.37rem;
}
/* FIM ABOUT CONTAINER */


@media (max-width: 480px){
    .about__section{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__section .index{
        display: none;
    }

    .bg__about{
        position: absolute;
        height: 90rem;
        width: 45rem;
    }

    .bg__about .top{
        display: none;
    }

    .about__container{
        height: 90.6rem;
        width: 40.5rem;
        flex-direction: column-reverse;
        margin-left: 0rem;
        gap: 3rem;
    }

    .about__btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content__about .btn{
        padding: 2.45rem 5.12rem;
        width: 30rem;
        border-radius: 4rem;
        font-size: 1.5rem;
    }
    .image__about{
        position: relative;
        right: 0rem;
        top: 0rem;
    }

    .image__about img{
        width: 100%;
    }
    
}